*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f2847;
}
.app{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 600px;
}
.app h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa7a7;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;

}
.quiz h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #333;

}
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled{
    cursor: not-allowed;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    
    display: none;
}


.correct{
    background: #28a745;
    color: #fff;
    font-weight: 500;
    width: 100%;
    border: 1px solid #28a745;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.incorrect{
    background: #dc3545;
    color: #fff;
    font-weight: 500;
    width: 100%;
    border: 1px solid #dc3545;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (max-width: 600px) {
    .app {
        padding: 20px;
    }

    .app h1 {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .quiz h2 {
        font-size: 18px;
    }

    .btn, .correct, .incorrect {
        padding: 8px;
        font-size: 16px;
    }

    #next-btn {
        width: 100%;
        padding: 12px;
    }
}